<div class="row">
    <h4>Vägg: </h4>

    <p>{{ route.wall }}</p>

    <h4 data-ng-show="route.routesetter">Skruvat av: </h4>

    <p>{{ route.routesetter }}</p>

    <h4 data-ng-show="route.description">Beskrivning: </h4>

    <p>{{ route.description }}</p>

    <h4 data-ng-show="route.color">Färg: </h4>

    <p>{{ route.color }}</p>

    <h4 data-ng-show="route.built">Byggdes: </h4>

    <p>{{ route.built }}</p>

    <form data-ng-hide="routeGraded">
        <div class="form-group">
            <span class="nullable">
                <select data-ng-model="grade" class="form-control"
                        data-ng-options="gradeOption.label for gradeOption in grades">
                    <option value="">Hur svår tycker du leden är?</option>
                </select>
        </span>
        </div>
        <div class="form-group">
            <button type="button" class="btn pull-left" data-ng-click="back()">Tillbaka</button>
            <button type="button" class="btn btn-primary pull-right" data-ng-disabled="grade == null"
                    data-ng-click="submitVote()">Skicka in röst
            </button>
        </div>
    </form>
    <div data-ng-show="routeGraded" class="ct-chart ct-minor-sixth"></div>
</div>

