<div data-ng-hide="formActive">
    <table class="table table-hover ">
        <tr>
            <th>Skruvare</th>
            <th>Vägg</th>
            <th>Beskrivning</th>
        </tr>
        <tr data-ng-repeat="route in routes" data-ng-click="viewDetails(route.routeId)">
            <td>{{ route.routesetter }}</td>
            <td>{{ route.wall }}</td>
            <td>{{ route.description }}</td>
        </tr>
    </table>
    <div class="form-group">
        <button type="button" class="btn btn-primary pull-right" data-ng-click="toggleFormActivity()">Lägg till led
        </button>
    </div>
</div>
<form name="newRoute" data-ng-show="formActive">
    <div class="form-group"
         data-ng-class="{'has-error': newRoute.routesetter.$invalid && newRoute.routesetter.$touched}">
        <label class="control-label" for="routesetter">Skruvat av</label>
        <input tabindex="1" type="text" class="form-control" id="routesetter" name="routesetter"
               data-ng-model="route.routesetter"
               placeholder="Skruvat av" required>
    </div>
    <div class="form-group"
         data-ng-class="{'has-error': newRoute.description.$invalid && newRoute.description.$touched}">
        <label class="control-label" for="description">Beskrivning</label>
        <textarea tabindex="2" class="form-control" id="description" name="description"
                  data-ng-model="route.description"
                  placeholder="Beskrivning" required></textarea>
    </div>
    <div class="form-group" data-ng-class="{'has-error': newRoute.wall.$invalid && newRoute.wall.$touched}">
        <label class="control-label" for="wall">Vägg</label>
        <input tabindex="3" type="number" class="form-control" id="wall" name="wall" data-ng-model="route.wall"
               placeholder="Vägg" required>
    </div>
    <div class="form-group" data-ng-class="{'has-error': newRoute.built.$invalid && newRoute.built.$touched}">
        <label class="control-label" for="built">Byggdes</label>
        <input tabindex="4" type="date" class="form-control" id="built" name="built" data-ng-model="route.built"
               placeholder="Byggdes" required>
    </div>
    <div class="form-group" data-ng-class="{'has-error': newRoute.color.$invalid && newRoute.color.$touched}">
        <label class="control-label" for="color">Färg</label>
        <input tabindex="5" type="text" class="form-control" id="color" name="color" data-ng-model="route.color"
               placeholder="Färg" required>
    </div>
    <div class="form-group pull-right">
        <button tabindex="6" type="button" class="btn btn-danger" data-ng-click="toggleFormActivity()">Avbryt</button>
        <button tabindex="7" type="submit" class="btn btn-primary" data-ng-click="addRoute(newRoute)">Spara</button>
    </div>
</form>